.navbar{
  
    display: flex;
    justify-content: flex-end;
    padding:0px 50px;
    height:11vh;
    z-index: 99999;
    position: fixed !important;
    top:0;
    width: 100%;
    background: transparent ;
    margin-top:0px;
    margin-bottom: -155px !important;
   
    
  }
  
  .navbar-active{
    background-color:#f3f3f3 !important;
  }
  
  .navbar-active a{
    font-weight: 600;
    text-transform: capitalize !important;
    font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color:#000 !important;
  }
  
  .nav-link {
    text-transform: uppercase !important;
  }
  
  .navbar ul {
    
    display: flex;
    justify-content: flex-end !important;
    width: 100%;
  }
  
  .navbar-brand{
    /* background-image: url('/src/eventimages/hackclubassets/hc_color.png');
    background-size: 100%;
    background-repeat: no-repeat; */
    width: auto;
    /* padding-left: 4.2vw; */
    font-weight: bolder;
    font-size: 44px !important;
    height: 100%;
    /* padding-bottom:15px; */
  
  }
  
  .navbar a{
    font-weight: 600;
   
    text-transform: uppercase !important; 
    font-family: "Phantom Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color:#f3f4f3  ;
    font-size: 18px !important;
    margin: 0 10px;
  }
  
  
  
  .fa-bars {
    color:#000 !important;
    z-index: 1000;
  }
  
  .fa-times{
    color:000 !important;
  }
  
  
  .menu-icons{
    display:none;
  
  
  }
  
  
  @media screen and (max-width:1000px)
  {
    .nav-item{
      position:relative;
    }
  
    .navbar-nav{
      display:flex !important;
      flex-direction: column !important;
      width: 100% ;
      position:absolute !important;
      top:8vh !important;
      left:-100% ;
      opacity:99% !important;
      transition:all 0.5s ease !important;
  
    }
  
  
  .navactive{
      background: #F3f3f3;
      left : 0 !important;
      opacity :1;
      transition :all 0.5s ease;
      z-index:1;
    }
  
    .nav-link{
  text-align: center;
  padding:2rem;
  width:100%;
  display: table;
  
    }
  
  
    .nav-link:hover{
      background:red;
      border-radius:0;
  
    }
  
  
    .navbar-logo{
      position:absolute;
      top:0;
      left:0;
      transform: translate(25%,50%);
    }
  
    .menu-icons{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%,30%);
   
      font-size:1.8rem;
      cursor: pointer;
    }
  
  }